- name: adiciona e ativa ssh e gnupg
  hosts: localhost
  connection: local
  vars:
    user_home: "/home/{{ ansible_user_id }}"
    ssh_dest: "{{ user_home }}/.ssh"
  vars_prompt:
    - name: ssh_source
      prompt: "Digite o caminho completo da pasta .ssh"
      private: no
    - name: git_user_email
      prompt: "Digite seu email usando no github"
      private: no
    - name: git_user_name
      prompt: "Digite seu nome usando no github"
      private: no
  tasks:
    - name: Verificar pasta .ssh
      stat:
        path: "{{ ssh_source }}"
      register: ssh_dir
    - name: Falhar se .ssh não existir
      fail:
        msg: "A pasta .ssh não existe no caminho informado!"
      when: not ssh_dir.stat.exists
    - name: Criar pasta .ssh do usuário se não existir
      file:
        path: "{{ ssh_dest }}"
        state: directory
        mode: "0700"
    - name: Copiar arquivos da pasta .ssh para o usuário private
      copy:
        src: "{{ ssh_source }}/.ssh/id_ed25519"
        dest: "{{ ssh_dest }}/id_ed25519"
        mode: "0600"
    - name: Copiar arquivos da pasta .ssh para o usuário public
      copy:
        src: "{{ ssh_source }}/.ssh/id_ed25519.pub"
        dest: "{{ ssh_dest }}/id_ed25519.pub"
        mode: "0600"
    - name: Ajustar permissão da própria pasta .ssh
      file:
        path: "{{ ssh_dest }}"
        state: directory
        mode: "0700"
    - name: Evaluating the authentication agent & adding the key...
      shell: |
        eval "$(ssh-agent)"
        ssh-add "{{ ssh_dest }}/id_ed25519"
    - name: configurando git
      shell: "git config --global user.email '{{ git_user_email }}'"
    - name: configurando user.name
      shell: "git config --global user.name '{{ git_user_name }}'"
