- name: instala neovim e suas dependencias + foot
  hosts: localhost
  become: yes
  tasks:
    - name: instalando neovim
      package:
        name:
          - fzf
          - chafa
          - luarocks
          - lua
          - make
          - unzip
          - wget
          - curl
          - gzip
          - tar
          - fd-find
          - ripgrep
          - neovim
          - openssl-devel
          - pkg-config
          - ImageMagick-devel
        state: present
    - name: clonando repositorio de configurações do neovim
      ansible.builtin.git:
        repo: git@github.com:EduardoSilvaDiniz/neovim-from-scratch.git
        dest: "/home/edu/.config/nvim"
