- name: instala conjunto de ferramentas para php e framework laravel
  hosts: localhost
  become: yes
  tasks:
    - name: Obter valor de $USER
      set_fact:
        user_home: "{{ lookup('env', 'HOME') }}"
    - name: instalando php, phpunit, extensões para banco de dados (sqlite, mysql, postgresql)
      package:
        name:
          - php-cli
          - phpunit
          - php-pdo
          - php-sqlite3
          - php-pgsql
          - php-mysqlnd
          - composer
        state: present
    - name: instala laravel
      shell: composer global require "laravel/installer" -n

    - name: adicionando path .composer/vendor/bin para fish
      shell: set -Ux fish_user_paths $fish_user_paths $HOME/.composer/vendor/bin
      when: ansible_facts['env']['SHELL'] is defined and 'fish' in ansible_facts['env']['SHELL']
      register: fish_path_result
      changed_when: fish_path_result.rc == 0

    - name: Exibe aviso se o PATH foi alterado
      ansible.builtin.debug:
        msg: "O PATH global do fish foi atualizado. O usuário deve reabrir o terminal ou executar 'exec fish' para que a mudança entre em vigor."
      when: fish_path_result is changed
