/* Gruvbox Dark - Wofi */

window {
    margin: 8px;
    border: 2px solid #d79921; /* amarelo gruvbox */
    border-radius: 10px;
    background-color: #282828; /* bg0 */
    font-family: "JetBrainsMono Nerd Font", monospace;
}

#outer-box {
    padding: 10px;
}

#input {
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 6px;
    border: none;
    color: #ebdbb2;          /* fg */
    background-color: #3c3836; /* bg1 */
}

#input:focus {
    border: 2px solid #d79921;
}

#inner-box {
    background-color: transparent;
}

#entry {
    padding: 6px;
    border-radius: 6px;
    color: #ebdbb2;
}

#entry:selected {
    background-color: #d79921; /* amarelo seleção */
    color: #282828;            /* texto escuro */
}

#text {
    margin-left: 6px;
}

#scroll {
    margin-top: 5px;
}

#img {
    margin-right: 6px;
}
